{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-regenerator",
    "syntax-dynamic-import",
    "transform-async-to-generator"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ]
}
