doctype html
html
    head
        title Petja Touru
        meta(charset='UTF-8')
        meta(content='width=device-width,initial-scale=1', name='viewport')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
        link(href='style.css', rel='stylesheet')
        script(src='script.js')
    body
        #backdrop
        #contact-card.card: div
            img#my-picture(src='https://gravatar.com/avatar/3fe5cfc5d9eaeea3d15c8b5605c93514?s=256', alt='Picture of Petja Touru')
            #social
                a(href='https://linkedin.com/in/tourupetja') LinkedIn
                a(href='https://twitter.com/petjato') Twitter
                a(href='https://github.com/petja') Github
                a(href='https://telegram.me/petjato') Telegram
                a(href='mailto:hello@petja.me') Email
        #screen
        #scanlines.animated
        #legal
            | Website © 2017 Petja Touru
            //- Music: <em>Gray Is The Sky</em> by <em>Three Chain Links</em>. Music licensed with Creative Commons.
        #gradient
        #bg
        #content
            #center
                #logo
                #slogan
                #start-ripple
                #start-btn
                    svg(viewbox='0 0 24 24')
                        path(fill='rgba(0,0,0,0.6)', d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')
        #stars
        //- audio#bg-music(loop, autoplay)
            source(src='snd/background.ogg', type='audio/ogg')
