html, body
    margin 0
    padding 0
    height 100%

body
    overflow-x hidden
    font-size 1.1em
    font-family 'Roboto Mono', monospace
    cursor default
    background #000040
    //background #000040 url("https://c1.staticflickr.com/4/3122/3373773242_2b58eaf4f3_b.jpg")
    background-size cover
    background-attachment fixed
    background-position center center
    animation 0.5s bg-pulse forwards, 2s 1s bg-pulse ease infinite alternate

#backdrop
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    background #F6042E
    z-index 16
    opacity 0
    pointer-events none
    transition 0.4s

#backdrop.opened
    opacity 0.8

.card
    border-radius 2px
    box-shadow 0 2px 2px rgba(#000, 0.5)
    display none
    position fixed
    top 1em
    left calc(50% - 400px)
    width 800px
    background #FFF
    color #000
    transition all 0.4s linear
    z-index 17
    text-align center
    opacity 0
    &.opened
        opacity 1

#contact-card
    > :first-child
        padding 1em


#start-ripple
    background rgba(#FFF, 0.15)
    position fixed
    border-radius 50%
    left calc(50% - 10em)
    bottom -5em
    width 20em
    height 20em
    z-index 17
    opacity 0
    animation start-ripple 5s 1s ease infinite

#start-btn
    position fixed
    left calc(50% - 1.5em)
    bottom 3.5em
    width 3em
    height 3em
    display inline-block
    color #333
    border-radius 50%
    z-index 18
    background #FFF
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 10em #000, 0 0 10em #000
    display flex
    align-items center
    transition 0.3333s
    margin 0 auto
    text-align center
    opacity 0
    transform translateY(2em)
    animation textIn 0.3s 1s forwards

    &:hover
        transform scale(1.1)
        cursor pointer

#start-btn svg
    width 1.5em
    height 1.5em
    margin 0 auto

#fab
    position fixed
    bottom 2em
    right 2em
    height 4em
    width 4em
    color #FFF
    border-radius 50%
    z-index 18
    background #00E676
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.5)
    display flex
    align-items center
    transition 0.3333s

#fab svg
    width 1.5em
    height 1.5em

#fab-close-icon
    display none

#fab.opened 
    background #FFF
    color #000

#fab svg
    margin 0 auto

#bg
    //background-image linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("img/bg.jpg") 
    //opacity 0.5
    //background-size cover
    //background-position center center
    width 100%
    height 100%
    position fixed
    left 0
    top 0
    z-index 7

#gradient 
    width 100%
    height 100%
    position fixed
    left 0
    top 0
    background-color #fca0d4
    /*background-image linear-gradient(#fe80fe 0%, #fac0aa 100%, #C774E8 200%, #94D0FF 300%)*/
    background-size 100% 100%
    z-index 6

#content
    color #FFF
    //display flex
    align-items center
    flex-wrap wrap
    z-index 10
    position relative
    width 100%
    height 100%
    left 0
    top 0

#logo
    background url("img/petjalogo.svg")
    background-size contain
    background-position center center
    background-repeat no-repeat
    width 600px
    max-width calc(100% - 64px)
    height 96px
    margin 0 auto 2.5em auto
    z-index 9
    top calc(50vh - 48px - 5em)
    animation logoEntrance 0.3s 1s forwards, logoScale 0.5s
    position relative

#scanlines,#screen
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    pointer-events none

#screen
    top 0
    left 0
    background radial-gradient(ellipse, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%)
    transition 2s
    z-index 15

#scanlines
    z-index 11
    background-image url("img/scanline.svg")
    opacity 0.5
    /*background linear-gradient(transparent 0%, rgba(0, 0, 0, 0.3333) 50%, transparent 100%)*/
    /* Native gradient doesn't work in Firefox for some reason. Using SVG. */
    background-size 0.3em

#scanlines.animated
    animation scanlines
    animation-duration 2s
    animation-iteration-count infinite
    animation-timing-function linear

.delayed
    animation logo
    animation-duration 0.5s
    transform scale(0)
    animation-fill-mode forwards

#slogan, #social
    color inherit
    text-transform uppercase
    font-weight bold
    max-width 800px
    margin 0 auto

#slogan 
    opacity 0
    animation fade_full
    animation-duration 2s
    animation-delay 2s
    animation-fill-mode forwards
    display block
    text-align center
    padding 1em

#social 
    margin-top 1em
    display flex

    a
        display block
        margin-right 1em
        color inherit
        text-decoration none
        flex 1

    :last-child
        margin 0

#my-picture 
    border-radius 50%
    width 5em
    display block
    margin 0 auto

#legal 
    font-size 0.8em
    opacity 0
    text-align center
    transition 0.5s
    color #808080
    animation fade_half
    animation-duration 2s
    animation-delay 2s
    animation-fill-mode forwards
    position absolute
    left 0
    bottom 0
    margin 2em
    z-index 16

#legalhover
    opacity 1
    color #FFF

.star
    background-image url("img/star.svg")
    height 16px
    width 16px
    background-size cover
    position absolute
    z-index 10
    pointer-events none

.star.animated
    animation star
    animation-duration 0.5s
    animation-direction alternate
    animation-timing-function linear
    animation-iteration-count infinite

.spark.animated
    animation spark
    animation-duration 1s
    animation-timing-function linear
    animation-iteration-count infinite

#center 
    box-sizing border-box
    padding 5em 1em 10em 1em
    margin 0 auto
    max-width 40em
    text-align center
    width 100%

.image
    height 15em
    width 100%
    background-image url('img/bg.jpg')
    background-size cover
    background-position center center

#text
    transform translateY(2em)
    opacity 0
    transiton 1s
    animation textIn 0.3s 1s forwards

@keyframes textIn
    0% 
        opacity 0
        transform translateY(2em)
    
    100% 
        opacity 1
        transform translateY(0)

@keyframes start-ripple
    0%
        opacity 0.3333
        clip-path circle(0% at 50% 50%)
    50%
        opacity 0
        clip-path circle(100% at 50% 50%)
    100%
        opacity 0
        clip-path circle(100% at 50% 50%)

@keyframes fade_half 
    0% 
        opacity 0
    
    100% 
        opacity 0.5
    

@keyframes fade_full 
    0% 
        opacity 0
    
    100% 
        opacity 1
    

@keyframes logoScale
    0%
        transform scale(0)

    50%
        transform scale(1.1)

    100%
        transform scale(1)

@keyframes logoEntrance
    0% 
        top calc(50vh - 48px - 5em)
        //transform scale(0)
    
    100% 
        top 0
        //transform scale(1)
    
@keyframes logo_bounce 
    0% 
        transform scale(1)
    
    90% 
        transform scale(1)
    
    100% 
        transform scale(1.02)
    
@keyframes spark 
    0% 
        transform scale(0)
    
    100% 
        transform scale(1)

@keyframes star 
    0% 
        transform scale(0)
    
    100% 
        transform scale(1)

@keyframes scanlines 
    0% 
        background-position 0 0
    
    100% 
        background-position 0 1.2em
    

@keyframes gradient 
    0% 
        background-position 0% center
    
    100% 
        background-position 200% center
    
@keyframes vibrate
    0%
        transform translateX(-0.1em)
    50%
        transform translateX(0.1em)
    100%
        transform translateX(-0.1em)

@keyframes bg-pulse
    0%
        background-color #000040

    100%
        background-color #000060
