@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 18px;
}

html,body {
  @apply min-h-full;
}

body {
  @apply tracking-wider bg-white text-slate-800 dark:bg-black dark:text-white leading-8 bg-fixed;
  background-image:
radial-gradient(at 1% 99%, hsla(193,58%,69%,1) 0px, transparent 50%),
radial-gradient(at 97% 24%, hsla(272,85%,68%,1) 0px, transparent 50%),
radial-gradient(at 99% 98%, hsla(345,67%,63%,1) 0px, transparent 50%),
radial-gradient(at 0% 1%, hsla(253,82%,65%,1) 0px, transparent 50%),
radial-gradient(at 99% 1%, hsla(312,75%,64%,1) 0px, transparent 50%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-image:
    radial-gradient(at 1% 99%, hsla(193,58%,29%,1) 0px, transparent 50%),
    radial-gradient(at 97% 24%, hsla(272,85%,28%,1) 0px, transparent 50%),
    radial-gradient(at 99% 98%, hsla(345,67%,23%,1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, hsla(253,82%,25%,1) 0px, transparent 50%),
    radial-gradient(at 99% 1%, hsla(312,75%,24%,1) 0px, transparent 50%);
  }
}

a {
  @apply text-blue-500
}

mark {
  @apply bg-yellow-700 text-current
}
